*{ box-sizing:border-box;}
body{
    margin:0;
    font-family: 'Noto Sans KR', sans-serif;
    font-size:16px;
    color:#333;
}
.container{
    max-width:1300px;
    margin-left:auto;
    margin-right:auto;
}
.row{
    margin-left:-15px;
    margin-right:-15px;
    display:flex;
}
.d-flex{
    display:flex;
}
.justify-content-between{
    justify-content: space-between;
}

.list-style-none{
    margin: 0;
    padding: 0;
    list-style: none;
}

.align-items-center{
    align-items:center;
}
.text-center{
    text-align:center;
}
.red{
    color:#ff5656;
}
.bold{
    font-weight:700;
}
a{
    text-decoration:none;
    color:#2b2b2b;
}

/* ############HEADER############# */



header{
    padding-top:10px;
}
.mainlogo>img{
   height:40px;
}

.sublogo>img{
    height: 80%;
}


.loging{
    border: 1px solid #ccc;
    font-size: 13px;
    padding: 2px 8px;
}
.top-nav>li:not(:first-child){
    margin-left: 25px;
}
.top-nav>li a,
.top-nav>li a span.material-symbols-sharp{
    color: #7c65bb;
}
.top-nav>li a:hover,
.top-nav>li a span.material-symbols-sharp:hover{
    color: #2b2b2b;
}
.list-view{
    background-color: rgb(255, 255, 255);
    border: 1px solid #7c65bb;
    position: absolute;
    z-index: 3;
    right: 0;
    top:45px ;
    display: none;
    
}
.top-nav>li:hover .list-view{
    display: block;
}
.list-view::after{
    content: "";
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    right: 5px;
    top:-20px;
    z-index: 4;
    background: url(../images/pol.png) no-repeat;
}
.icon-list{
    padding:15px 20px;
    padding-bottom: 10px;
    font-size: 13px;
    border-bottom: 1px solid #cec9dd;
    margin-bottom: 30px;
}


.top-nav>li a .icon-list a{
    font-weight: 600;
    color: #2b2b2b;
}
.icon-list a:hover{
    text-decoration: underline;
}

.top-nav>li:last-child{
    position: relative;
}
.icon-list img{
    height: 35px;
}

.icon-list li:not(:last-child){
    margin-right: 40px;
}
.map-list{
    margin: 0px 20px 10px;
}
.map-list>li{
    width: 25%;
    border-right: 1px solid #cec9dd;
    padding-left: 5px;
}
.map-list>li:last-child{
    border: none;
}
.map-list>li>a{
    display: block;
    font-size: 13px;
    color: #333;
    margin-top: 10px;
    margin-bottom: 10px;
}
a.all{
    display: block;
    padding: 15px;
    background-color: #f8e5e5;
}

/* ############SECTION1########### */
.logo{
    font-family: 'Lobster', cursive;
    font-family: 'Noto Sans KR', sans-serif;
    color: red;
    font-size: 40px;
    text-shadow: #ff5656;
    padding-left: 20px;
    border-left: 1px solid #cec9dd;
}

.nav>li{
    margin-right: 30px;
    font-size: 18px;
    line-height: 1;
}
#searchform{
    width: 20%;
    
}

.nav>li:first-child a,
.nav>li a:hover{
    color: #ff5656;
    font-weight: 600;
}
.nav>li.last a{
    color:crimson ;
}
